#nav {
  //position: relative;
  //z-index: 220;
  margin-top: 0px;
  //margin-left: auto;
  //margin-right: auto;
  //padding: 0 15px 13px 5px;
  //max-width: 1000px;
  //width: 85%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  //border-bottom: 2px solid #ccc;
}
#nav li a {
  font-family: Arial, "Free Sans";
  font-weight: bold;
  font-size: 1.35em;
  color: #34495E;
  text-decoration: none;
  //padding: 0.8em 1.3em;
  letter-spacing: 0.5px;
  /* text-shadow: 0 -1px 0 #000; */
  position: relative;
}
#nav a .logo-header-right{
  margin-left: 50px;
  padding: 5px 55px 5px 70px;
}
.nav-button {
  margin-top: 40px;
  margin-left: 100px;
}
.logo-header-pic {
  height:80px;
  width:110%;
  margin:-10px;
}
.logo-header-div {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}
.logo-header-left {
  margin: -3px 0 0 45px;
  padding: 5px 55px 5px 0;
  width: 80px;
}
.logo-header-right {
  //margin: -3px 0 0 55px;
  //padding: 5px 55px 5px 0;
  width: 80px;
}
li:hover {
  background-color: #3498DB;
  margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}
#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);

  width: 100vw;
  height: 100vh;
}
#roundButton {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

#roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}

#roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}